div{
    color: green;
    font-weight: bold;
}

#title{
    border-top: 5px solid red;
    border-bottom: 5px solid red;
}

#content{
    width: 250px;
    background: yellow;
    margin: 25px;
    padding: 25px;
    border-radius: 100px 10px;
    border: 20px solid blue;
    box-shadow: 10px 10px yellow;
    
}